@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(236, 236, 236);
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

.container {
    width: 30vw;
    margin: auto;
}

.balance-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.balance-div h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.balance-div h1 {
    font-size: 2.3rem;
}

.inc-exp-div {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 3px rgb(117, 117, 117);
    border-radius: 1px;
}

.inc-exp-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    margin: 1.5rem 0;
}

.inc-exp-span h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

#income-span {
    border-right: 1px solid #dedede;
}

#income-span p {
    color: rgb(101, 201, 123);
    font-size: 1.5rem;
}

#exp-span p {
    color: rgb(177,68,53);
    font-size: 1.5rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 3px rgb(117, 117, 117);
    padding: 1rem;
    margin: 1rem 0;
}

.history h2, .new-transaction h2 {
    font-size: 1.3rem;
    padding: 0.5rem 0;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #aaa;
}

.new-transaction p {
    font-size: 1rem;
}

form input {
    border: none;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    width: 92%;
    margin: 0.7rem 0;
}

form button {
    width: 100%;
    box-shadow: 0 0 3px rgb(117, 117, 117);
    color: #fff;
    background-color: rgb(153,136,247);
    margin-bottom: 3rem;
    border: none;
    outline: none;
    padding: 0.7rem;
    font-size: 1rem;
}
